
body {
background-color:  orange ;
background-position: cover;
}


h1 {
  text-align: center;
  font-family: unispace;
  color: white;
  
}
 .box{ 
        
        border: 6px solid black;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 2px;
      }
.boxes{
position: flex;
padding-left: 550px;
}

      .box:hover{ 
         background-color: cornflowerblue;
 }

 